<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tbA"/>
  <arg name="second_tb3" default="tbB"/>
  <arg name="third_tb3"  default="tbC"/>
 
  <arg name="tbA_x_pos" default="-2.0"/>
  <arg name="tbA_y_pos" default="-0.5"/>
  <arg name="tbA_z_pos" default="0.0"/>

  <arg name="tbB_x_pos" default="-1.0"/>
  <arg name="tbB_y_pos" default="-0.5"/>
  <arg name="tbB_z_pos" default="0.0"/>

  <arg name="tbC_x_pos" default="-2.0"/>
  <arg name="tbC_y_pos" default="-0.0"/>
  <arg name="tbC_z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="$(arg first_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg first_tb3) -x $(arg tbA_x_pos) -y $(arg tbA_y_pos) -z $(arg tbA_z_pos) -param robot_description" />
  </group>

  <group ns="$(arg second_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg second_tb3) -x $(arg tbB_x_pos) -y $(arg tbB_y_pos) -z $(arg tbB_z_pos) -param robot_description" />
  </group>

  <group ns="$(arg third_tb3)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg third_tb3) -x $(arg tbC_x_pos) -y $(arg tbC_y_pos) -z $(arg tbC_z_pos) -param robot_description" />
  </group>

  <group ns="drone1">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="drone1"/>
      <arg name="tf_prefix" value="drone1"/>
      <arg name="y" value="2"/>
    </include>
  </group>

  <group ns="drone2">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="drone2"/>
      <arg name="tf_prefix" value="drone2"/>
      <arg name="x" value="2"/>
    </include>
  </group>

  <group ns="drone3">
    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
      <arg name="name" value="drone3"/>
      <arg name="tf_prefix" value="drone3"/>
      <arg name="y" value="-2"/>
    </include>
  </group>
</launch>
